num_days: "1"
package_name: "com.your_domain.*"
app_repo: "pubsite_prod_rev_123456790"
slack_url: "https://hooks.slack.com/services/XXXXXXXXXX"
smtp_address: "smtp.gmail.com"
smtp_port: "587"
smtp_user: "your_user@gmail.com"
smtp_pass: "your_pass"
email_send_to: "someone@some_domain.com"
